 <h1>ONLINE SHOPPING</h1>
  <%= link_to 'Profile', customer_path(@customer) %><br>
  <%= link_to 'Edit', edit_customer_path(@customer) %><br>
  <%= link_to 'Destroy', customer_path(@customer),
              method: :delete,
              data: { confirm: 'Are you sure?' } %><br>
<%= link_to 'ItemsList',items_path %><br>
<%= link_to 'BuyItems',{:controller => "orders", :action => "buy",   :cust_id => current_customer1.id} ,method: :get %><br>
<%= link_to 'ShowItems',{:controller => "orders", :action => "bill", :cust_id => current_customer1.id } %><br>
<%= link_to "Sign out", destroy_customer1_session_path,:method => :delete %>