  <%= image_tag @customer.photo.url(:small) %>
<p>
  <strong>Name:</strong>
  <%= @customer.name %>
</p>
<p>
  <strong>DOB</strong>
  <%= @customer.dob %>
</p>

<p>
  <strong>Address:</strong>
  <%= @customer.address %>
</p> 
<p>
  <strong>Phone number:</strong>
  <%= @customer.phone %>
</p>	